body{
    margin: 0 auto;
    background-color: #ACDBD8;
}
.headstuff{
    display:flex;
    flex-flow: column;
    background-color: #86DBD8;
    border: 10px lightpink solid;
    border-radius: 25px;
}
.list{
    display:flex;
    flex-flow: row;
    flex-wrap: nowrap;
    text-align: center;
}
h1{
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
}
h2{
    font-family: 'Indie Flower', cursive;
}
ul{
    margin: 0 auto;
}
li{
    list-style: none;
    margin-right: 30px;
}
.body{
    display:flex;
    flex-flow: row;
}
p{
    width: 300px;
}
.wrapper{
    display:inline-block;
}

.image-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
}
.image-moto{
    width: 300px;
    height: 300px;
    display: none;
}
.active{
    display:inline-block;
}

.buttons{
    display: flex;
}
button{
    margin: 5px 0 0 30px;
    padding: 10px;
}
